---
import Layout from '../../../layouts/Layout.astro'
import getApiUrl from '../../../utils/apiurl.ts'
import type { Device } from '../../_devices.astro'

const response = await fetch(`${getApiUrl()}/devices/${Astro.params.id}`)
const device = await response.json() as Device

const { name, model, ip_address, url, notes, last_update } = device
const isLoggedIn = Astro.cookies.has('loggedIn')
---

<Layout title={`Remove ${name}?`}>
{!isLoggedIn ? (
  <article>
    <p class="text-center">You are not logged in. Please <a href="/login">log in</a> to remove the device.</p>
  </article>
) : (
  <article class="container">
    <h1>Remove {name}?</h1>
    <p>id: {Astro.params.id}</p>
    <p>model: {model}</p>
    <p>ip address: {ip_address}</p>
    <p>url: <a href={url}>{url}</a></p>
    <p>notes: {notes}</p>
    <p>last updated: {last_update}</p>
    <form action={`${getApiUrl()}/devices/remove/${Astro.params.id}`} method="POST">
      <button type="button">Cancel</button>
      <button type="submit">Remove</button>
    </form>
  </article>
)}
</Layout>

<script>
  const cancelButton = document.querySelector('button[type="button"]')
  cancelButton?.addEventListener('click', () => {
    window.history.back()
  })
</script>
